!!! 5
html
	head
		title Chaffin
		meta(name='viewport', content='width=device-width, initial-scale=0.5')
		link(rel='stylesheet', href='www/css/bootstrap.min.css')
		style
			body{
				padding-top: 60px;
			}
		link(rel='stylesheet', href="www/css/bootstrap-responsive.min.css")
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="#") Chaffinch
					div.nav-collapse.collapse
						ul.nav
							li.active
								a(href="#") About
							li
								a(href="team.html") Team
							li
								a(href="work.html") Work
							li
								a(href="contact.html") Contact

		div.container
			div.hero-unit
				h1 Chaffinch
				h4 Chaffinch is a design studio in East London,
				p Specializing in Web development, Graphic design
					| and Tech consultancy.
				p
					a.btn.btn-primary.btn-large Get Quote!
			div.row
				div.span4
					h2 Testmonial 1
					p 
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Site!
				div.span4
					h2 Testmonial 2
					p
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Site!
				div.span4
					h2 Tesmonial 3
					p
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
						| lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Site!
	script(src="www/js/jquery.min.js")
	script(src="www/js/bootstrap.min.js")



