!!! 5
html
	head
		title Chaffin
		meta(name='viewport', content='width=device-width, initial-scale=0.5')
		link(rel='stylesheet', href='www/css/bootstrap.min.css')
		style
			body{
				padding-top:60px;
			}
		link(rel='stylesheet', href="www/css/bootstrap-responsive.min.css")
		
		
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="#") Chaffinch
					div.nav-collapse.collapse
						ul.nav
							li
								a(href="index.html") About
							li.active
								a(href="#") Team
							li
								a(href="work.html") Work
							li
								a(href="contact.html") Contact

		div.container
			div.row
				div.span12
					p.lead 
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
			div.row
				div.span4
					img.img-polaroid(src="http://aux.iconpedia.net/uploads/11296555161076849797.png")
					h3 Ben Hartley
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						small url: 
						em loremipsum.ch
				div.span4
					img.img-polaroid(src="http://aux.iconpedia.net/uploads/11296555161076849797.png")
					h3 Jon Sherard
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						small url: 
						em loremispum.io
				div.span4
					img.img-polaroid(src="http://aux.iconpedia.net/uploads/11296555161076849797.png")
					h3 Solomon Saleh
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						small url: 
						em loremipsum.co.uk

		script(src="www/js/jquery.min.js")
		script(src="www/js/bootstrap.min.js")


