!!! 5
html
	head
		title Chaffin
		meta(name='viewport', content='width=device-width, initial-scale=0.5')
		link(rel='stylesheet', href='www/css/bootstrap.min.css')
		style
			body{
				padding-top:60px;
			}
		link(rel='stylesheet', href="www/css/bootstrap-responsive.min.css")
		
		
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="#") Chaffinch
					div.nav-collapse.collapse
						ul.nav
							li
								a(href="index.html") About
							li
								a(href="team.html") Team
							li.active
								a(href="#") Work
							li
								a(href="contact.html") Contact

		div.container
			div.row
				div.span12
					p.lead 
						| Just some of our work....
			div.row
				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Dressipe
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Dressipe
				div.span4
					img.img-circle( width="300px", height="300px", src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 World-Class
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit World-Class

				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Manasian & Co
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Manasian & Co
			div.row
				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 ASOS
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit ASOS
				div.span4
					img.img-circle( width="300px", height="300px", src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Jhonnie Walker
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit Jhonnie Walker

				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Loremispum
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit LoremIpsum
			div.row
				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Loremispum
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit LoremIpsum
				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Loremispum
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit LoremIpsum
				div.span4
					img.img-circle(src="http://www.fivetechnology.com/blog/wp-content/uploads/2010/11/wireframe-web-deisgn-lp2.jpg")
					h3 Loremispum
					p
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
						| Lorem ispum lorem ipsum lorem ipsum lorem ipsum
					p
						a.btn(href="#") Visit LoremIpsum

		script(src="www/js/jquery.min.js")
		script(src="www/js/bootstrap.min.js")


